body {
    background-color: #daffc2;
    text-align: center;
    /* 2nd and 3rd fonts are fallbacks for compatibility */
    font-family: "Lucida Console", "Courier New", monospace;
}
.buttons {
    white-space: nowrap;
}
.btn {
    font-family: "Lucida Console";
    background-color: #75db86;
    border-radius: 20px;
    border-width: 10px;
    border-color: #4da356;
    font-size: 20px;
    color: #4b287f;
    transition: all 0.3s;
}
.btn:hover {
    transform: translateY(-5px);
    background-color: #218711;
    color: white;
}
canvas {
    white-space: nowrap;
}
input[type=text] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
}